.btn {
  color: $textMain;
  background-color: #fff;
  font-size: 1.1rem;
  padding: .5rem 1.2rem;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  transition: all .12s ease-out;

  &--mr-1 {
    margin-right: 5px;
  }
  
  &--green:hover {
    color: #fff;
    background-color: $themeGreen;
    border-color: $themeGreen;
  }

  &--orange:hover{
    color: #fff;
    background-color: $themeOrange;
    border-color: $themeOrange;
  }

  &--blue:hover {
    color: #fff;
    background-color: $themeBlue;
    border-color: $themeBlue;
  }

  &--float-r {
    float: right;
  }
}

