.tingle-modal {

  & > &-box {
    width: 32%;
    margin-bottom: 0;
    margin-top: 7%;
  }

  & > &-box > &-box__content {
    padding: 2rem;
  }

  &__closeIcon {
    font-size: 4rem;
    color: #ddd;
    transition: all .2s ease-out;
  }

  &__closeIcon:hover {
    color: #fff;
  }
}